<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a target="_blank" href="https://www.facebook.com/keshav.arora.7731/"><i class="fa-brands fa-facebook"></i></a>
            <a target="_blank" style="color:#fc00d9" href="https://www.instagram.com/_iitian_keshav_/"><i class="fa-brands fa-instagram" ></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/keshavarora2006/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy; Airbnb Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>